.container{
    width: 80%;
    font-family: sans-serif;
    margin: 0 auto;
    background-color: #FF9ABC;
    border-radius: 5px;
    height: 350px;
}
.container h1{ 
    margin-left: 10px;
    margin-top: 15px;
}
.container_inner{
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 22%;
    background-color: white;
    border-radius: 5px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
}
.block img{
    width: 100%;
}
.block a{
    text-decoration: none;
}
